//
//  Codesigning.app.xcconfig
//  Malachite
//
//  Created by Eva Isabella Luna on 5/13/25.
//

// Leave this line alone.
CODE_SIGN_STYLE  = Automatic;
// Change this to your Apple Developer Program Team ID.
// You can find it under "Membership details" on
// https://developer.apple.com/account
DEVELOPMENT_TEAM = 95J8WZ4TN8;
// Change this to anything you want.
APP_PREFIX       = dev.crystll1ne;
